nav {
    background-color: #F2F1EB;
}

.navbar-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-li {
    padding: 0 10em;
    margin: 0;
    max-width: 35em;
}

.logo {
 width: 30%;
 height: auto;
 border-radius: 0;
}