
.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.input-city, .search-button {
    font-size: 1.4em;
    padding: 0.4em;
}

.input-city {
    border-radius: 2em 0 0 2em;
    background-color: transparent;
}

.search-button {
    border-radius: 0 2em 2em 0;
    background-color: rgb(0, 162, 255);
    color: white;
}

.search-button:hover {
    background-color: white;
    color: rgb(0, 162, 255);
    cursor: pointer;
}

.input-city:focus {
    outline: none;
}

.suggestion-ul {
    width: 100%;
    padding: 0.7em;
}

.suggestion-ul li:nth-of-type(1n+4) {
    display: none;

}

.search-suggestions {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 20%;
    border-radius: 1em;
    -webkit-box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
    box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.24);
}

.serach-and-suggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.suggested-city {
    padding: 0.5em;
}

.suggested-city:hover {
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 1em;
    cursor: pointer;
}