.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.input-city, .search-button {
    font-size: 1.4em;
    padding: 0.4em;
}

.input-city {
    border-radius: 2em 0 0 2em;
    background-color: transparent;
}

.search-button {
    border-radius: 0 2em 2em 0;
    background-color: rgb(0, 162, 255);
    color: white;
}

.search-button:hover {
    background-color: white;
    color: rgb(0, 162, 255);
    cursor: pointer;
}

.input-city:focus {
    outline: none;
}

.suggestion-ul li:nth-of-type(1n+4) {
    display: none;

}

.search-suggestions {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}