* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: rgb(252,176,69);
  background: radial-gradient(circle, rgba(252,176,69,1) 0%, rgba(29,169,253,1) 100%);
}